
@{
    ViewData["Title"] = "SiparisTamamlandi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-primary"><b>Siparişiniz Sevgiyle Hazırlanıp En Kısa Zamanda Yola Çıkacaktır...</b></p>
<p class="text-primary"><b>Tahmini Varış Süresi 30-45 Dakikadır.</b></p>
<div class="container">
    <img src="~/images/motokurye.png" width="500" height="500" />
</div>

