<!doctype html>
<html lang="Tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İletişim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="css/style-T.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">İletişim</h1>
        <div align="left">
            <div class="row">
                <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12039.316875903993!2d28.97523110468256!3d41.028992141454204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9e7a7777c43%3A0x4c76cf3dcc8b330b!2sGalata%20Kulesi!5e0!3m2!1str!2str!4v1664266194301!5m2!1str!2str" width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br />
            <div class="row text-center" style="background-color: darkgreen">
                <div class="col-4 box1 pt-4">
                    <a href="tel:+905555555555">
                        <i class="fas fa-phone fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block" style="color: white">Telefon</h3>
                        <p class="d-none d-lg-block d-xl-block" style="color: white">+90 555 555 55 55</p>
                    </a>
                </div>
                <div class="col-4 box2 pt-4" style="background-color:grey">
                    <a href="navigateto:Galata Kulesi - Bereketzade Mahallesi Büyük Hendek Caddesi, Numara: 2, 34421 Beyoğlu/İstanbul">
                        <i class="fas fa-home fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block" style="color: white; background-color:grey">Adres</h3>
                        <p class="d-none d-lg-block d-xl-block" style="color: white"> 
                            Galata Kulesi - Bereketzade Mahallesi Büyük Hendek Caddesi, Numara: 2, 34421 Beyoğlu/İstanbul</p>
                    </a>
                </div>
                <div class="col-4 box3 pt-4" style="background-color: cornflowerblue">
                    <a href="mailto:tamerkargin8@gmail.com">
                        <i class="fas fa-envelope fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block" style="color: white">E-mail</h3>
                        <p class="d-none d-lg-block d-xl-block" style="color: white">tamerkargin8@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
